/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
:root {
    --color-1: #8D8D8D;
    --color-2: #f3d3c3;
    --color-3: #e2b1cf;
    --color-4: #b9e4c9;
    --color-5: #a1d8e3;

    --color-background: #ffffff;


    --radius-0: 5px;
    --radius-1: 10px;
    --radius-2: 20px;

  }
  